<div ng-controller="view7Ctrl">
<div id="signup">
    <span>Already a user?</span> <span ng-click="redirect()">Login</span>
    <h2>Signup</h2>
    
    <form name="signup" ng-submit="submitSignup()">
      
            Username
       
            <input type="text" name="username" id="user" ng-model="username" required>
        
	  <p class="error">{{username_error}}</p>
            
          
            Email
        
            <input type="text" name="password" ng-model="password" id="email" required>
         
	  <p class="error">{{email_error}}</p>
            
     

      <input type="submit" id="submitsignup">
    </form>
</div>
</div> 

 
