
/*
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
*/

/*
.ng-invalid { border : 1px solid red }
*/



/*div#chkEntryDlg input {margin-top: 4px;}*/

#loading-bar .bar {
    background: firebrick !important;
    height : 10px;
    z-index: 100;
    border-radius: 6px;
    /*margin-top : -20px;*/
}


/*#loading-bar-spinner .spinner-icon {*/
    /*border-top-color:  #2c3e50;*/
    /*border-left-color: #2c3e50;*/
    /*height : 60px;*/
    /*width : 60px;*/

/*}*/


.error {color:#FF0000}

li.md-nav-item a:focus span {border-bottom: solid 2px #6f00ff; padding-bottom: 4px ;}

.container {margin-left : 70px; }

.odd { background-color : rgba(0, 144, 255, .1) }

.container { width : 1015px; margin:auto;  margin-bottom:100px; background-color: #ffffff }

table.tablesorter { width:1015px; border-collapse: collapse; }

li {list-style-type:none !important;}

select#reference {display: inline}

md-datepicker {width:200px; margin-right: 50px}

input {width:154px !important}

td {padding:6px}

td.rtalign, th.rtalign {  text-align:right; padding : 4px }

td.lfalign, th.lfalign {  text-align:left; padding : 4px }


#addbtn {margin-right:12px; float:right}

#cancelbtn  {float:right}

#entrydt {margin-top:18px}

/*#search-register {position:relative; top: -1604px; left:844px; }*/

_md-nav-bar-list layout-row {margin-left:-8px !important;}

.clickable {cursor:pointer}

#users {color : rgba(0,0,0,0.2)}

/*#search-register, #new-customer, #to-new-customer { width : 220px; height : 42px; position : fixed; top : 24px; left : 465px; font-size:18px; margin: 0 0 40px 0 }*/


body > div.layout-column.flex > div > md-content:nth-child(1) > md-nav-bar > div > nav > ul {padding : 0;}

md-content {overflow: hidden}

form#entryForm { padding-bottom: 30px;  width:1015px}

/*fieldset {height:280px; }*/

.md-datepicker-calendar-pane {z-index: 1151}

div#radios { display: inline-block;}

div#choices {float:left; display: inline-block; }

div#search-form md-input-container {display:block; width:130px}

md-radio-button {margin-top: 38px; margin-bottom:30px}

table#transactionsTable {width : 1000px}

.totals {font-weight: 700}

#resultTable {clear:both; width:986px; margin:auto; cursor:pointer}

#resultsForm input[type="text"], #resultsForm label {
    width: 150px;
    height: 20px;
    display: block;
    font-size: 12px;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

table {border-collapse: collapse;}

.crsrptr {cursor:pointer}

table#custDtlTable {width:600px; border: 0}

form#editCustomer md-input-container input {height: 60px; width:300px}

form#editCustomer md-input-container {display:block; width:400px !important}

div#edit-customer-form {
    height:520p !important;}

/*md-nav-bar md-nav-ink-bar {
    left: 260px; width: 114px; height:2px;
    color: rgb(255, 82, 82);
    background: rgb(255, 82, 82);
}*/

div#edit-customer-form {height:584px !important;}

form#newCustomer md-input-container {display:block; width:400px !important}

form#newCustomer md-input-container input {height: 60px; width:300px}

form#newCustomer {height:800px; overflow: visible}

div.ui-dialog {height:860px}



input#custinvoice {width : 180px; height: 36px; margin-bottom: 20px}


table#invtbl { width : 100%;
    font-size: 20px; }


table#invtbl tr th, table#invtbl tr td {
    font-size: 20px;padding: 4px }

textarea#billto { width: 320px }

.outer1 { width : 300px; float : left }

.outer2 { width : 200px; float : right; padding:   10px }

#invtbl > tbody > tr > td > md-content > md-input-container {margin:0}


md-datepicker#from {display:inline-block; width:200px}

md-datepicker#to {display:inline-block; width:200px}

md-content span {height:20px}

h3 {margin:40px 0; text-align: center}

td {font-size: 14px; cursor: pointer}

#chkEntryDlg {height:560px !important;}

.layout-row {padding:0}

.md-nav-bar {
    background-color: transparent;
    border-color: '{{foreground-4}}';
}

.md-button._md-nav-button.md-unselected {
    color: '{{foreground-2}}';
}

md-nav-ink-bar {
    color: '{{accent-color}}';
    background: '{{accent-color}}';
}

.md-button.md-raised[disabled] {cursor:not-allowed;}

button[disabled] {cursor:not-allowed !important;}

#searchbtn {display : inline-block; float: right }

#users {float:left}

#resultTable {margin:0}

#formButtons {margin-left:-8px}

#resultTable {margin-bottom: 20px}

caption {
    margin: 0 0 40px 0;
font-size: 20px}

table#resultTable > thead > tr > th {font-weight: 600 !important;}

#resultsForm md-content md-input-container {margin:0}

#resultsForm md-content md-input-container #resultsForm input[type="text"] div#inner-editor {background-color:red;width:100px}

#resultsForm {margin-top:40px; clear:both}

.fl {float:left; margin-top: 18px !important; clear:both}

.fr { margin-top: 18px !important; margin-left:572px; clear:both}

div#srchbtns {margin-top : 80px}

#nameform > md-content > div > div:nth-child(2) > md-datepicker > div {padding-bottom:20px}

#entryForm > md-content.content.layout-fill._md.layout-row.flex > md-input-container {width:200px}