<div id="new-customer-form" title="Customer Information" newcustdialog>
<p class="title">Customer Information</p>
<form id="newCustomer" name="newCustomer">
    <fieldset>
     <label for="name">Name</label>
     <input type="text" ng-model="customer.name" id="name" name="name" required/> 
     <div role="alert">
      <span class="error" ng-show="newCustomer.name.$error.required">
       Required!</span>
    </div> 
     <label for="company">Company</label>
     <input type="text" ng-model="customer.company" id="company"/> 
     <label for="address">Address</label>
     <input type="text" ng-model="customer.address" id="address" name="address" required/>
     <div role="alert">
      <span class="error" ng-show="newCustomer.address.$error.required">
       Required!</span>
    </div> 
     <label for="phone">Phone</label>
     <input type="text" ng-model="customer.phone" id="phone"/> 
     <label for="email">email</label>
     <input type="text" ng-model="customer.email" id="email"/
     <label for="balance">Balance</label>
     <input type="text" ng-model="customer.balance" id="balance"/>       
   </fieldset>
 </form>
 </div>
 
 
 
 
 app.directive( 'custdialog', [ '$http', '$location', function($http, $location){	      
	return {
	/*templateUrl: "custDetailsDialog.html",*/
	link : function(scope,element,attrs, ngModel){
		 scope.dialog = $( "#new-customer-form" ).dialog({
      autoOpen: false,
      height: 600,
      width: 1040,
      modal: true,
	  close : function(){
		  $location.path('/customers')
		  },
    buttons: [  //button label/text : callback
	 {text : 'Save',
	  id : 'custDialogSave',
	  click: function() {
		  if ( ! scope.customer.entries )
		  scope.customer.entries = []
		  if ( ! scope.customer.invoices )
		  scope.customer.invoices = []
		  var url = scope.edit ? "/customerUpdate" : "/newCustomer"
		  console.log("scope.edit : " + url)
		  if ( scope.customer.name && scope.customer.address )
		  {
		  var params = scope.customer
		  console.log(params)
		  $http( {
		url : "/customerUpdate",
		method : 'POST',
		data : params
		} ).then
		( function( response ){
			$( "#newCustomer" )[0].reset()
			console.log('this : ' + $(this))
			if (scope.edit)
		  	element.dialog( "close" );
			} )
		  }
		  else
		  {
			  alert( 'Please enter a name and an address!' )
		  }
		  }
	 },
	  {text : 'Cancel',
	  id : 'custDialogCancel',
	  click: function() {
		  $( "#newCustomer" )[0].reset()
		  $(this).dialog( "close" );
		  }
	  },
	  {text : 'Reset',
	  id : 'custDialogReset',
	  click: function() {
		  console.log('the reset button')
		  $( "#newCustomer" )[0].reset()
		  }	  
	  }	 
		]
		})
		}//link
		}//return
		} ] )//directive
 
