<div class="container">
<div ng-controller="view5Ctrl">



<div>
    <h3>PROFIT AND LOSS DETAIL</h3>

<!--<input name="from" type="text" datepicker ng-model="transaction.from" id="from" class="form-control" required>-->
    <md-content flex class="content" layout="row" layout-fill><span>From:</span><md-datepicker ng-model="transaction.from" id="from"  ></md-datepicker>

        <span>To:</span>
       <md-datepicker ng-model="transaction.to" id="to"  ></md-datepicker>

<md-button class="btn btn-info" id="runbtn" ng-click="run()">Run Report</md-button></md-content>

<table md-table id="transactionsTable">
<thead md-head>
  <tr md-row>
  
  	<th md-column>Category</th>
  
  	<th md-column id="wideaccount">Account</th>
  	
    <th md-column id="padit">Date</th>
 
    <th md-column>Type</th>
  
    <th md-column>Number</th>
    
  
    <th md-column>Name</th>

     <th md-column id="wideaccount">Split</th>

    <th md-column>Amount</th>
    
    <th md-column>Balance</th>
    
  </tr>
 </thead>
 
 <tbody md-body>
  
  <tr md-row ng-repeat="transaction in transactions"  >
 	 <td md-cell>{{transaction.category}}</td>
  	<td md-cell>{{transaction.account}}</td>
    <td md-cell>{{transaction.date | pivot }}</td>
    <td md-cell class="rtalign">{{transaction.type}}</td>
    <td md-cell>{{transaction.number}}</td>
    <td md-cell>{{transaction.name}}</td>
     <td md-cell class="split">{{transaction.split}}</td>
    <td md-cell class="rtalign">{{transaction.amount/100 | currency : ""}}</td>
    <td md-cell class="rtalign">{{transaction.balance/100 | currency : ""}}</td>
  </tr>
</tbody>  
</table>


</div>


</div><!--View5Ctrl-->
</div>

