<p>This is the partial for view 3.</p>
<div class="container" id="customerDetail">
<div ng-controller="view3Ctrl">

<div id="tabs" tabs>
<ul>
<li><a href="#tabs-1">Customer Details</a></li>
<li><a href="#tabs-2">Transaction List</a></li>
</ul>
<div id="tabs-1">
<button id="editcustomer" ng-click="openEdit()" title="Opens a dialog where you can edit the details for a customer">Edit</button>
<table width="400" border="1" cellpadding="2" id="custDtlTable">
  <tr>
    <td scope="col">Customer</td>
    <td scope="col">{{customer.name}}</td>
  </tr>
  <tr>
    <td>Company</td>
    <td>{{customer.company}}</td>
  </tr>
  <tr>
    <td>Address</td>
    <td>{{customer.address}}</td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>{{customer.phone}}</td>
  </tr>
  <tr>
    <td>email</td>
    <td>{{customer.email}}</td>
  </tr>
  <tr>
    <td>Balance</td>
    <td>{{customer.balance}}</td>
  </tr>
</table>
</div>
<div id="tabs-2">

<table width="800" border="1" cellpadding="2" id="dtlTable">
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Type</th>
    <th scope="col" class="rtalign">Number</th>
    <th scope="col" class="rtalign">Amount</th>
  </tr>
  <tr ng-repeat="detail in details" ng-class-odd="'odd'" ng-click="getInvoice(detail)">
  	<td>{{detail.date}}</td>
  	<td>{{detail.type}}</td>
  	<td class="rtalign">{{detail.number}}</td>
  	<td class="rtalign">{{detail.amount | number : 2}}</td>
  </tr>
</table>
</div>
</div><!--#tabs-->
</div><!--View3Ctrl-->

<div id="edit-customer-form" title="Customer Information" custedit>
<p class="title">Edit Customer Information</p>
<form id="editCustomer" name="editCustomer">
    <fieldset>
     <label for="name">Name</label>
     <input type="text" ng-model="customer.name" id="name" name="name" required/>
     <label for="company">Company</label>
     <input type="text" ng-model="customer.company" id="company"/> 
     <label for="address">Address</label>
     <input type="text" ng-model="customer.address" id="address" name="address" required/>     
     <label for="phone">Phone</label>
     <input type="text" ng-model="customer.phone" id="phone"/> 
     <label for="email">email</label>
     <input type="text" ng-model="customer.email" id="email"/
     <label for="balance">Balance</label>
     <input type="text" ng-model="customer.balance" id="balance"/>       
   </fieldset>
 </form>
 
</div><!--editcust-->
</div><!--.container-->