<div id="frontpage" class="container" >
    <entry-form id="entry-form"></entry-form>

    <div ng-controller="view1Ctrl">
        <!--This probably needs to be removed to make auth0 work properly-->
  <!--  <div id="users">
<div ng-hide="user"><p>You are not logged in!</p><span ng-click="login()" class="clickable">Login</span>|<span ng-click="signUp()" class="clickable">Sign  Up</span></div>
<p></p>
<div ng-show="user"><span>Welcome {{username}}</span><span ng-click="logout()" class="clickable"> | LOGOUT</span></div>
     </div>-->
        <div>
<md-table-container>
<table id="entriesTable" md-table >
<thead md-head>
  <tr md-row>
    <th md-column>Date</th>
    <th md-column>Payee</th>
    <th md-column>Memo</th>
    <th md-column>Account</th>
    <th md-column md-numeric>Payment</th>
    <th md-column md-numeric>Deposit</th>
    <th md-column class="rtalign">Balance</th>
  </tr>
</thead>
<tbody md-body>
  <tr md-row ng-repeat="item in items"  ng-click="openForm(item); $event.stopImmediatePropagation();" id={{item.id}}>
    <td md-cell class="date">{{item.date | date:'MM/dd/yyyy'}}</td>
    <td md-cell class="payee">{{item.payee}}</td>
    <td md-cell class="memo">{{item.memo}}</td>
    <td md-cell class="account">{{item.account}}</td>
    <td md-cell class="payment rtalign">{{item.payment}}</td>
    <td md-cell class="deposit rtalign">{{item.deposit}}</td>
    <td md-cell class="balance rtalign">{{item.balance}}</td>
  </tr>
 </tbody>
</table>
</md-table-container>
   </div>
</div><!--View1Ctrl-->
</div><!--container-->

