<p id="shadow">This is the partial for view 1.</p>
<div class="container" >
<div ng-controller="view1Ctrl">
<div ng-hide="user"><p>You are not logged in!</p><span ng-click="login()" class="clickable">Login</span>|<span ng-click="signUp()" class="clickable">Sign  Up</span></div>
<p></p>
<div ng-show="user"><span>Welcome {{username}}</span><span ng-click="logout()" class="clickable"> | LOGOUT</span></div>
<table class="tbl tablesorter" width="800" border="1" cellpadding="2">
<thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Reference</th>
    <th scope="col">Number</th>
    <th scope="col">Payee</th>
    <th scope="col">Memo</th>
    <th scope="col">Account</th>
    <th scope="col" class="rtalign">Payment</th>
    <th scope="col" class="rtalign">Deposit</th>
    <th scope="col" class="rtalign">Balance</th>
  </tr>
</thead>
<tbody class="tbody">
	<tr ng-repeat="item in items" ng-class-odd="'odd'" ng-click="openDlg(item)" id={{item.id}}>
    <td class="date">{{item.date}}</td>     
    <td class="reference">{{item.reference}}</td>
    <td class="number">{{item.number}}</td>    
    <td class="payee">{{item.payee}}</td>
    <td class="memo">{{item.memo}}</td>
    <td class="account">{{item.account}}</td>    
    <td class="payment rtalign">{{item.payment}}</td>
    <td class="deposit rtalign">{{item.deposit}}</td>    
    <td class="balance rtalign">{{item.balance}}</td>
  </tr>
 </tbody>
</table>
<div id="chkEntryDlg" title="Check Register Entry" editable>
<form novalidate method="POST" id="chkEntryForm" name="chkEntryForm">
<fieldset>
<label>Date</label>
<input type="text" name="date" ng-model="item.date" readonly><br>
<label>Reference</label>
<input type="text" name="reference" ng-model="item.reference" readonly><br>
<label>Number</label>
<input type="text" name="number" ng-model="item.number"><br>
<label>Payee</label>
<input type="text" name="payee" ng-model="item.payee" ><br>
<label>Memo</label>
<input type="text" name="memo" ng-model="item.memo"><br>
<label>Account</label>
<input type="text" name="account" ng-model="item.account" listaccts><br>
<label>Payment</label>
<input type="text" name="payment" ng-model="item.payment" ng-disabled="disablePayment" ng-mousedown="clearAmt('payment')" maskmoney ><br>
<label>Deposit</label>
<input type="text" name="deposit" ng-model="item.deposit" ng-disabled="disableDeposit" ng-mousedown="clearAmt('deposit')" maskmoney><br>
<fieldset>
</form>
</div><!--chkEntryDlg-->
</div><!--View1Ctrl-->
<div ng-controller="entryFormCtl">
<form  method="POST" name="entryForm" id="entryForm">
<input name="date" type="text" datepicker ng-model="entry.date" id="datepicker" class="form-control" required>
<select name="reference" ng-model="entry.reference" id="reference" ng-change="change()"><option value="">Choose</option><option value="payment"  selected>Payment</option><option value="deposit">Deposit</option></select>
<input name="number" type="text" ng-model="entry.number" id="number" placeholder="number">
<input name="payee" type="text" ng-model="entry.payee" id="payee" placeholder="payee">
<input name="memo" type="text" ng-model="entry.memo" id="memo" placeholder="memo">
<input name="account" type="text" ng-model="entry.account" id="account" placeholder="account" listaccts required>
<input name="payment" type="text" ng-model="entry.payment" ng-disabled="disablePayment" id="payment" placeholder="payment" title="Payment" maskmoney/>
<input name="deposit" type="text" ng-model="entry.deposit" ng-disabled="disableDeposit" id="deposit" placeholder="deposit" title="Deposit" maskmoney/>
<input type="reset" class="cancel btn btn-info" value="Cancel" ng-click="cancel()">
<input type="submit" ng-disabled="!user" class="submit btn btn-info" value="Add"  ng-click="add()">
</form>
</div>
</div><!--container-->
<div ng-controller="schRegDialog">
<button id="search-register" class="btn btn-info" ng-click="openSearch()" title="Opens a dialog where you can choose to search based on date, amount, payee, or account; then manipulate data">Search Register</button>
<div id="dialog-form" title="Find Checking Transactions" wdialog>
  <p class="title">Search the Check Register.</p> 
 <form id="dialogForm" name="dialogForm">
    <fieldset>
     <label for="search">Search by</label>
     <select id="search" ng-model="obj.key" ng-options="item for item in items"></select>       
     <label for="find">Find</label>
     <div id="find" class="wrapdiv" ng-switch on="obj.key">
     <div ng-switch-when="date"><input type="text" ng-model="obj.val" name="searchdate" datepicker id="datepicker2" required/></div>
     <div ng-switch-when="amount"><input type="text" ng-model="obj.val" id="dialogAmt" maskmoney required/></div>
     <div ng-switch-when="payee"><input type="text" ng-model="obj.val" required /></div>
     <div ng-switch-when="account"> <input type="text" ng-model="obj.val" listaccts required /></div>
     </div>      
   </fieldset>
 </form>  
 <table id="resultTable">
  <caption>Results</caption>
  <thead>
 <tr>
  <th>#</th><th>Date</th><th>Account</th><th>Payment</th><th>Deposit</th>
 </tr>
  </thead>
  <tbody title="Click on a row to see complete contents of the transaction below.">
  <tr ng-repeat="item in results" ng-click="pickRow(item)" ng-class-odd="'odd'">
 	<td>{{$index + 1}}</td>
    <td>{{item.date }}</td>
    <td>{{item.account}}</td>
    <td>{{item.payment}}</td>
    <td>{{item.deposit}}</td>    
  </tr>  
 </tbody>
 </table>  
<form novalidate method="POST" id="resultsForm" name="resultsForm">
<label>Date</label>
<input type="text" name="date" ng-model="entry.date" readonly>
<label>Reference</label>
<input type="text" name="reference" ng-model="entry.reference" readonly>
<label>Number</label>
<input type="text" name="number" ng-model="entry.number">
<label>Payee</label>
<input type="text" name="payee" ng-model="entry.payee" >
<label>Memo</label>
<input type="text" name="memo" ng-model="entry.memo">
<label>Account</label>
<input type="text" name="account" ng-model="entry.account" listaccts>
<label>Payment</label>
<input type="text" name="payment" ng-model="entry.payment" ng-disabled="disablePayment" ng-mousedown="clearAmt('payment')" maskmoney>
<label>Deposit</label>
<input type="text" name="deposit" ng-model="entry.deposit" ng-disabled="disableDeposit" ng-mousedown="clearAmt('deposit')" maskmoney>
</form>  
</div><!--dialogForm-->
</div><!--ng-controller schRegDialog-->
</div><!--.container-->