#shadow { color : #fff }

body { background-color:#fff; font:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif }

.container { width : 1000px; margin:auto;  margin-bottom:100px }

table { width:100%; border-collapse: collapse; }

/* Extra selectors needed to override the default styling */
/*table.tablesorter tbody tr.normal-row td {
  background: #888;
  color: #fff;
}
table.tablesorter tbody tr.alt-row td {
  background: #000;
  color: #fff;
}*/

.tbody { position : relative; }

th { background-color:#3868bc; color : #fff }

div.editable, div.not-editable { width : 150px; height: 24px }

input { color:#000000; }

input[placeholder] {color : #000;}

input#datepicker.hasDatepicker { width : 120px; z-index:1000 !important }

input#datepicker { margin-left : 1px }

input[type="text"] { width : 117px; height : 24px; padding:0; border:1px #999 solid }

input[type="date"] { width : 138px !important; height : 24px; padding:0; border:1px #999 solid }

input#submit, button.submit, input.submit, input.cancel { width:106px; height:36px; margin:4px  }

button.submit { margin : 4px; }

button.reset { right : 4px; }

#ui-datepicker-div { background-color:#FFFFFF; }

form#entryForm { height:84px;width:100%; background-color:#3868bc; border: none;}

td.rtalign, th.rtalign {  text-align:right; }

select#reference { width : 113px; height:26px; border: gray solid 1px; background-color : white }

input#datepicker { width : 148px; padding:0; border :1px solid gray; margin : 0px; display : inline; color:#fff }


input#editdeposit, input#editpayment { width : 66px }

#resultsForm input[type="text"], #resultsForm label { width : 150px; height : 20px; display:block; font-size:12px; background-color:#dddddd }

/*#entryForm input[type="text"]  { width : 142px; height : 34px; margin : 0 !important;  }*/

#resultsForm label, #chkEntryForm label { display : inline; background-color:white }

dvi#ui-datepicker-div { width:150px; height:122px }

input.cancel { display : block; float:right ; width:106px; height:36px; margin:4px }

#editRow {background-color:red}

button#save { opacity :0.5; }

.buttons { width:460px; }

#search-register, #new-customer, #to-new-customer { width : 220px; height : 42px; position : fixed; top : 0; left : 465px; font-size:18px; margin: 0 0 40px 0 }

fieldset { height : 140px; }

fieldset label, fieldset input { display : block; padding : 6px 0; }

fieldset label { font-weight : 700 }

button.ui-datepicker-trigger { display:inline }

div#findbtn { float:right }

#resultTable caption { margin:20px; font-weight:bolder; font-size:22px; }

table#resultTable tbody tr td, table#resultTable thead tr th { text-align:right }

.odd { background-color : #ecf3e1 }

.wrapdiv { height:24px; width:260px; }	

form#resultsForm input.submit { width:142px; margin-top:18px }

table#resultTable tr { font-size : 12px; background-color:#fff; cursor:pointer; }

table tr { font-size : 12px; background-color:#fff; cursor:pointer; }

tr.odd td { background-color : #ecf3e1; }

tr td { border-color : transparent; }

.ui-dialog-buttonset:nth-child(1) { display:block; float:left !important }

ul.menu li { list-style-type: none;    padding: 0px;    margin: 0px; }

ul.menu li a { display:block; background-color : #3868bc; color : #fff ;
text-decoration:none;width:150px; text-align : center; border: 1px #fff solid; font-size:24px; }
	
table#resultTable th, table#resultTable td { padding-right : 40px; } 

form#newCustomer input, form#editCustomer input { width : 500px; }

table#dtlTable { width : 900px; }

.error { color : #FF0000 }

table#custDtlTable { width : 400px }

#invoicediv { width : 612px; height: 792px; border : 1px #888888 solid; padding : 20px}

button#to-invoice { float : right }

textarea#billto { width : 160px; height: 100px; border : 1px #000 solid; float : left; padding : 10px; margin-bottom : 60px }

h1 { text-align : center }

div#invdate { width : 80px; height : 30px; border : 1px #000 solid; padding : 0 5px   }

div#invnum { width : 80px; height : 30px; border : 1px #000 solid; padding : 0 5px     }

table#invtbl { clear:both; width : 600px; margin-top : 300px; }

div#footer { width : 654px; }

button#cancel-invoice { float : left }

.outer1 { width : 160px; float : left }

.outer2 { width : 80px; float : right; padding:   10px }



@media print { 
#invoicediv {width :960px; height : 1100px }
table#invtbl { width : 960px; }
 }

input#activity, input#invmemo, input#invamt { width : 199px; text-align:right; border:hidden; }

#custnum { width : 80px; text-align:right; border:hidden }

input#invnum  { width : 72px; text-align:right; border:hidden; }

#invtotal { text-align : right }

input#invamt { float:right }

input#activity, input#invmemo, input#invamt { width : 140px }

table#invtbl { width : 570px; }

/*input[type="text"], select { background-color : transparent; border : transparent }*/

form#entryForm input[type="text"], select#reference { background-color : transparent; border : 1px solid #05f }

[ng-message|="required"] { color : red; font-size : 1.1 em; box-sizing:border-box }

/*.ng-invalid { border : 1px solid red !important }*/

form div[role|="alert"].ng-valid { border : none } 

div#footer button { width : 120px; margin-right: 20px; height : 40px; font-size:18px}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {
-moz-appearance: textfield;
}

div#login, div#signup {margin-left :40px }

span.clickable { color : #3868bc; cursor : pointer; text-decoration:underline; margin-bottom:20px; }

input:disabled {background-color:black}

.btn[disabled] {cursor:not-allowed !important; }