<div ng-controller="view9Ctrl">
    <div id="dialog-form" title="Find Checking Transactions" wdialog>
<p>HERE</p>
    <form id="dialogForm" name="dialogForm">
                <fieldset>
                    <label for="search">Search by</label>
                    <select id="search" ng-model="obj.key" ng-options="item for item in items"></select>
                    <label for="find">Find</label>
                    <div id="find" class="wrapdiv" ng-switch on="obj.key">
                        <div ng-switch-when="date"><input type="text" ng-model="obj.val" name="searchdate" datepicker id="datepicker2" required/></div>
                        <div ng-switch-when="amount"><input type="text" ng-model="obj.val" id="dialogAmt" maskmoney required/></div>
                        <div ng-switch-when="payee"><input type="text" ng-model="obj.val" required /></div>
                        <div ng-switch-when="account"> <input type="text" ng-model="obj.val" listaccts required /></div>
                    </div>
                </fieldset>
            </form>
            <table id="resultTable">
                <caption>Results</caption>
                <thead>
                <tr>
                    <th>#</th><th>Date</th><th>Account</th><th>Payment</th><th>Deposit</th>
                </tr>
                </thead>
                <tbody title="Click on a row to see complete contents of the transaction below.">
                <tr ng-repeat="item in results" ng-click="pickRow(item)" ng-class-odd="'odd'">
                    <td>{{$index + 1}}</td>
                    <td>{{item.date }}</td>
                    <td>{{item.account}}</td>
                    <td>{{item.payment}}</td>
                    <td>{{item.deposit}}</td>
                </tr>
                </tbody>
            </table>
            <form novalidate method="POST" id="resultsForm" name="resultsForm">
                <label>Date</label>
                <input type="text" name="date" ng-model="entry.date" readonly>
                <label>Reference</label>
                <input type="text" name="reference" ng-model="entry.reference" readonly>
                <label>Number</label>
                <input type="text" name="number" ng-model="entry.number">
                <label>Payee</label>
                <input type="text" name="payee" ng-model="entry.payee" >
                <label>Memo</label>
                <input type="text" name="memo" ng-model="entry.memo">
                <label>Account</label>
                <input type="text" name="account" ng-model="entry.account" listaccts>
                <label>Payment</label>
                <input type="text" name="payment" ng-model="entry.payment" ng-disabled="disablePayment" ng-mousedown="clearAmt('payment')" maskmoney>
                <label>Deposit</label>
                <input type="text" name="deposit" ng-model="entry.deposit" ng-disabled="disableDeposit" ng-mousedown="clearAmt('deposit')" maskmoney>
            </form>
 </div>
    </div>