<div ng-controller="view6Ctrl">
<div id="login">
    <h2>Login</h2>
    <form   name="login" ng-submit="submitLogin()">
      
            Username
          
            <input type="text" name="username" id="username" ng-model="username">
          
          <p class="error">
              {{login_error}}
          </p>
     
            Password
        
            <input type="password" id="password" name="password" ng-model="password">
          
          <p class="error">
	    {{login_error}}
            
          </p>
        

      <input type="submit" id="submitlogin" value="Submit Login" class="btn btn-info" >
    </form>
 </div>
 </div>