<div ng-controller="view6Ctrl">
<div id="login">
    <h2>Login</h2>
    <form   name="login" ng-submit="submitLogin()">
      <md-content>
          <md-input-container>
            <label>Username</label>
            <input type="text" name="username" id="username" ng-model="username">
          </md-input-container>
          <p class="error">
              {{login_error}}
          </p>
     <md-input-container>
        <label>Password</label>
            <input type="password" id="password" name="password" ng-model="password">
         </md-input-container>
          <p>
          {{login_error}}
          </p>
          <md-button class="md-raised .btn" ng-click="submitLogin()" id="loginBtn">Submit</md-button>
      </md-content>
    </form>
 </div>
 </div>