<div class="container" id="customerDetail">
<div id="invoicediv">
<h1>Invoice</h1>
<form name="nameform" id="nameform">
  <md-content>
    <md-input-container>
<input type="text" ng-model="invoice.name" id="custinvoice" placeholder="Name" name="name" listcustomers tabindex="1" required>
    </md-input-container>
<div>
<div class="outer1">
<div class="property">Billing Address</div>
  <md-input-container>
<textarea id="billto">{{invoice.address}}</textarea>
  </md-input-container>
</div>

<div class="outer2">
  <md-input-container>
    <label for="invnum">Number</label>
<div><input id="invnum" type="number" ng-model="invoice.number" name="number" tabindex="3"></div>
  </md-input-container>
</div>
  <div class="outer2">
    <div class="property"></div>
    <md-datepicker ng-model="invoice.date"></md-datepicker>
  </div>
</md-content>

<table md-table id="lineItems">
<thead md-head>
  <tr md-row>
  <th md-column>Number</th>
    <th md-column>Product/Service</th>
    <th md-column>Description</th>
    <th md-column md-numeric >Amount</th>
  </tr>
</thead>
  <tbody md-body>
  <tr md-row ng-repeat="line in invoice.lines"><!--this array will be saved to the transactions collection-->
  <td md-cell>{{$index + 1}}</td>
    <td md-cell>
      <md-content>
      <md-input-container>
      <input type="text" ng-model="line.activity" id="activity" listservices required >
    </md-input-container>
    </md-content>
    </td>

    <td md-cell>
      <md-content>
      <md-input-container>
    <input type="text"  ng-model="line.memo" id="invmemo" >
      </md-input-container>
        </md-content>
    </td>

    <td md-cell>
      <md-content>
      <md-input-container>
      <input type="string" ng-model="line.amount" step="0.01" id="invamt" maskmoney  required  string-to-number ng-keydown="tabfwd($event)" class="formcontrol" >
      </md-input-container>
    </md-content>
    </td>
  </tr>
  <tr md-row id="bottomLine">
  <td md-cell>Total</td>
  <td md-cell></td>
  <td md-cell></td>
  <td md-cell id="invtotal">{{invoice.total | currency}}</td>
  </tr>
  </tbody>
</table>
<div id="footer">
<button id="cancel-invoice" class="btn btn-info" ng-click="cancelInvoice()">Cancel</button>
<button id="print-invoice" ng-disabled="!saved" class="btn btn-info" ng-click="printInvoice($event)">Print</button>
<button ng-disabled="saved" class="btn btn-info" type="button" ng-click="saveInvoice()">Save</button>
</div>
</div>
</form>
</div>
</div>
