<div class="container">
<div ng-controller="view2Ctrl">

<md-content layout="row">
<md-input-container><input type="text" ng-model="customer.name" id="customername" placeholder="Customer Name" listcustomers></md-input-container>
    <div class="fr">
<md-button id="to-invoice" ng-click="createInvoice()" title="Opens a page where you can add an invoice for a customer">Create Invoice</md-button>
<md-button id="to-new-customer" ng-click="openNewCustomer()" title="Opens a dialog to add all the details for a new customer">New Customer</md-button>
    </div>
</md-content>

<table md-table>
    <thead md-head>
  <tr md-row>
    <th md-column >Name</th>
      <th md-column >Company</th>
      <th md-column md-numeric >Open Balance</th>
    <th md-column class="rtalign">Action</th>
  </tr>
    </thead>
  <tbody md-body class="tbody">
  <tr md-row ng-repeat="customer in customers" class="customerRow">
  	<td md-cell class="crsrptr" ng-click="customerDetails($event, customer)">{{customer.name}}</td>
      <td md-cell class="crsrptr" ng-click="customerDetails($event, customer)">{{customer.company}}</td>

      <td md-cell  style="text-align:center">{{customer.balance | number : 2}}</td>
    <td md-cell class="rtalign crsrptr" ng-click="makeInvoice($event, customer)">Make Invoice</td>
  </tr>
  </tbody>
</table>
<div id="new-customer-form" title="Customer Information" custdialog>
<p class="title">Customer Information</p>
<form id="newCustomer" name="newCustomer">
    <md-content>
    <md-input-container>
     <label for="name">Name</label>
     <input type="text" ng-model="customer.name" id="name" name="name" required/>
    </md-input-container>
     <md-input-container>
     <label for="company">Company</label>
     <input type="text" ng-model="customer.company" id="company"/>
     </md-input-container>
        <md-input-container>
     <label for="address">Address</label>
     <input type="text" ng-model="customer.address" id="address" name="address" required/>
        </md-input-container>
        <md-input-container>
     <label for="phone">Phone</label>
     <input type="text" ng-model="customer.phone" id="phone"/>
        </md-input-container>
        <md-input-container>
     <label for="email">email</label>
     <input type="text" ng-model="customer.email" id="email"/>
        </md-input-container>
        <md-input-container>
     <label for="balance">Balance</label>
     <input type="text" ng-model="customer.balance" id="balance"/>
        </md-input-container>
    </md-content>
 </form>
</div>
</div><!--customerCtrl-->
