<p>This is the partial for view 2.</p>
<div class="container">
<div ng-controller="View2Ctrl">
<button id="to-new-customer" ng-click="openNewCustomer()" title="Opens a dialog where you can add all the details for a new customer" class="btn btn-info">New Customer</button>


<input type="text" ng-model="customer.name" id="customername" placeholder="Find a customer" listcustomers>
<button id="findcust" ng-click="custdetails()">FIND</button>
<button id="to-invoice" ng-click="createInvoice()" title="Opens a page where you can add an invoice for a customer">Create Invoice</button>
<table width="1000" border="1" cellpadding="2">
  <tr>
    <th scope="col">Name</th>
    <th scope="col" class="rtalign">Open Balance</th>
    <th scope="col" class="rtalign">Action</th>
  </tr>
  <tbody class="tbody">
  <tr ng-repeat="customer in customers" ng-class-odd="'odd'" class="customerRow"}>
  	<td ng-click="customerDetails($event, customer)">{{customer.name}}</td>
    <td class="rtalign">{{customer.balance | number : 2}}</td>
    <td class="rtalign" ng-click="makeInvoice($event, customer)">Make Invoice</td>
  </tr>
  </tbody>
</table>

<div id="new-customer-form" title="Customer Information" custdialog>
<p class="title">Customer Information</p>
<form id="newCustomer" name="newCustomer">
    <fieldset>
     <label for="name">Name</label>
     <input type="text" ng-model="customer.name" id="name" name="name" required/>
    
     
     <label for="company">Company</label>
     <input type="text" ng-model="customer.company" id="company"/> 
     <label for="address">Address</label>
     <input type="text" ng-model="customer.address" id="address" name="address" required/>
     

     <label for="phone">Phone</label>
     <input type="text" ng-model="customer.phone" id="phone"/> 
     <label for="email">email</label>
     <input type="text" ng-model="customer.email" id="email"/
     <label for="balance">Balance</label>
     <input type="text" ng-model="customer.balance" id="balance"/>
     </fieldset>       
 </form>
</div>
</div><!--customerCtrl-->
