<div ng-controller="entryFormCtl" >
    <!--<div id="entryForm">-->
<div>
    <form  method="POST" name="entryForm" id="entryForm">
        <md-content id="dtAndSelect" flex class="content" layout="row" layout-fill>
            <md-datepicker ng-model="entry.date" id="entrydt" required autofocus></md-datepicker>
            <md-input-container id="reference">
                <label>Choose Type of Entry</label>
                <md-select ng-model="entry.reference" ng-change="change()">
                    <md-option ng-repeat="ref in refs" value="{{ref}}" >
                        {{ref}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-content>
        <md-input-container>
            <label>Number</label>
            <input type="number" name="number" ng-model="entry.number">
            <div ng-messages="entryForm.number.$error">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Payee</label>
            <input type="text" name="payee" ng-model="entry.payee">

        </md-input-container>
        <md-input-container>
            <label>Memo</label>
            <input type="text" name="memo" ng-model="entry.memo">
        </md-input-container>
        <md-input-container>
            <label>Account</label>
            <input type="text" name="account" ng-model="entry.account" required listaccts>
            <div ng-messages="entryForm.account.$error">
                <div ng-message="required">Account is required!</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Payment</label>
            <input type="text" name="payment" ng-model="entry.payment" ng-disabled="disablePayment" id="payment" title="Payment" maskmoney/>
        </md-input-container>
        <md-input-container>
            <label>Deposit</label>
            <input type="text" name="deposit" ng-model="entry.deposit" ng-disabled="disableDeposit" id="deposit" title="Deposit" maskmoney/>
        </md-input-container>
        <md-content id="formButtons">
            <md-button class="md-raised .btn" ng-click="cancel()" id=cancelbtn>Cancel</md-button>
            <md-button class="md-raised .btn" ng-click="save()" id="addbtn">Save</md-button>
            <md-button ng-hide="newEntry" class="md-raised .btn" ng-click="delete()" id="deletebtn">Delete</md-button>

        </md-content>
    </form>
</div>
    <!--</div>-->
</div>